th {
    padding: 1rem;
    color: #ADADAD;
    font-weight: 400;
}
td {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 0.80rem;
}


.no-border {
    border: none;
}

.countries {
    height: 18px;
    width: 18px;
    margin: 15px;
    border-radius: 100%;
}

.pad-left {
    margin-left: 7px;
    margin-right: 7px;
}

.side-menu-active {
    background-color: #FFF3F4;
    border: 2px;
}

.sidebar-icon {
    margin: 15px;
}
.active-tab{
    color: #C8242F;
}
.tab{
    height: 43px;
    
}
.bg-set {
    background-color: #ffd7d7;
}
.spacing {
    margin-bottom: 9rem;
}
.navbar-spacing {
    margin-bottom: 2rem;
}
.usa {
    background-color: #C8242F;
}
.cnd {
    background-color: #A2B86C;
}
.rsa {
    background-color: #F16C20;
}
.ind {
    background-color: #EBC844;
}
.paid {
    background-color: #EBFFEF;
    color: #3CDD5F;
    width: fit-content;
    padding: 0.1rem 0.3rem;
    border-radius: 0.25rem;
}
.failed {
    background-color: #FFF5F5;
    color: #FF4545;
    width: fit-content;
    padding: 0.1rem 0.3rem;
    border-radius: 0.25rem;
}
.pending {
    background-color: #F8F8F8;
    color: #BABABA;
    width: fit-content;
    padding: 0.1rem 0.3rem;
    border-radius: 0.25rem;
}
.stacked {
    z-index: 10;
    position: fixed;
    background-color:#ADADAD;
}
.sidebar-support {
    height: 100%;
    width: 100%;
    background-color: #000;
}